.green-bg {
	background:url(coffee.jpg);
	background-size:cover;
	background-repeat: no-repeat;
	background-attachment:fixed;
	background-position:center center;
}
#primary{
	padding:5%;
	
}
#screen{
	width:244px;
	margin-right:5px;
	height:75px;
	border-radius:7px;
	text-align:right;
	font-size: 22px;
	font-family: 'Orbitron', sans-serif;
	overflow:scroll;
	background-color:#C3C2AB;
}
#btn1{
	width:50px;
	padding:5px;
	margin:5px;
	display:inline-block;
	border-radius:7px;
	outline:none;
	background:linear-gradient(to bottom right, #CCFFFF,#FFFFCC);
	font-family: 'Orbitron', sans-serif;
	font-weight:bold;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.50), 0 6px 20px 0 rgba(0, 0, 0, 0.30);
	font-size: 16px;
	

}
#btn2{
	width:115px;
	padding:5px;
	margin-right:5px;
	margin-bottom:2px;
	margin-left:2px;
	margin-top:2px;
	display:inline-block;
	border-radius:4px;
	outline:none;
	font-family: 'Orbitron', sans-serif;
	background:linear-gradient(to bottom right, #CCFFFF,#FFFFCC);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.50), 0 6px 20px 0 rgba(0, 0, 0, 0.30);
	font-size: 16px;
}
#btn3{
	width:50px;
	padding:5px;
	margin:5px;
	display:inline-block;
	border-radius:7px;
	outline:none;
	background-color:#D9446A;
	font-family: 'Orbitron', sans-serif;
	font-weight:bold;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.50), 0 6px 20px 0 rgba(0, 0, 0, 0.30);
	font-size: 16px;
}
#calx{
	margin-top:0%;
	background:linear-gradient(to bottom right, #d7dee8 , #e8cfbe);
	width:300px;
	padding-top:2%;
	padding-bottom:4%;
	border-radius:15px;
	box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.75), 0 10px 30px 0 rgba(0, 0, 0, 0.65);
}
#text{
	font-family: 'Orbitron', sans-serif;
	background-color:rgba(0,0,0,.50);
	padding-bottom:1%;
	
	
}
#line{
	margin-top:-1px;
}
#frontText{	
	font-weight:bold;
	color:#E6EBCC;
}

#btn1:hover {
	color:#FF2900;
	transition-duration: 0.25s;
    
}
#btn2:hover {
	color:#FF2900;
	transition-duration: 0.25s;
}
#btn3:hover {
	color:#19FF0A;
	transition-duration: 0.25s;
}
#text2{
	font-weight:bold;
}
#calx h4{
	font-weight:bold;
	float:right;
	margin-right:11%;
	font-family:'Orbitron', sans-serif;
}



@media only screen and (max-width: 500px){
	#calx{
		margin-top:4%;
		background-color:#ccc;
		width:300px;
		padding-top:7%;
		padding-bottom:10%;
		border-radius:15px;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.75), 0 6px 20px 0 rgba(0, 0, 0, 0.65);
	}
	
	#frontText{
		font-size:24px;
		font-weight:bold;
	}
	#text{
		font-family: 'Orbitron', sans-serif;
		background-color:rgba(0,0,0,.50);
		padding-bottom:3%;
	
	
	}
}







